services:
  - type: web
    name: pipila-bot
    env: python
    plan: free
    region: frankfurt
    buildCommand: |
      pip install -r requirements_pipila.txt
      python download_gdrive_recursive.py
    startCommand: python pipila_bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: pipila_db
          property: connectionString

databases:
  - name: pipila_db
    databaseName: pipila
    user: pipila_user
