services:
  - type: worker
    name: pipila-bot
    runtime: python
    plan: standard
    region: frankfurt
    buildCommand: pip install -r requirements_pipila.txt && python download_documents.py
    startCommand: python pipila_bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: pipila-db
          property: connectionString
      - key: PYTHON_VERSION
        value: "3.11.4"

databases:
  - name: pipila-db
    databaseName: pipila
    user: pipila_user
    plan: free
